// Site variables 

/* site fonts */
$font-normal: 'Roboto', Arial, "Lucida Grande", sans-serif; //Goole font
$font-folk: 'Folksolid', Arial, "Lucida Grande", sans-serif; //embedded font

/* site colours */
$color-primary: #333; //text on fff bg
$color-secondary: #000;
$color-tertiary: #708a6d; //mossy
$color-light: #dfdabc; //cream
$color-dark: #253b2e; //dark green

$link-color: #333;
$link-color-hover: #993333; //reddish

$color-error: red; // Bad color for errors, validation etc.
$color-success: green; // Good color for success etc.
$color-subtle: #999; // Subtle color for subtle text

/* background colours */
$centre-bg-color: #708a6d; //mossy
$content-bg-color: #fff;











/* box properties */
$padding: 14px; // padding for containers